<h3>Employee List</h3>
<a routerLink="/mandiri/add" class="btn btn-add-employee">Add employee</a>
<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Birthdate</th>
      <th>Basic salary</th>
      <th>Status</th>
      <th>Group</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>arifabas</td>
      <td>Arif</td>
      <td>Firmansyah</td>
      <td>arifabas@gmail.com</td>
      <td>1988/11/13</td>
      <td>Rp.1.000.000</td>
      <td>Permanent staff</td>
      <td>IT department</td>
      <td>Software engineer (frontend)</td>
      <td>
        <a routerLink="/mandiri/detail/:id" class="btn btn-see-detail">See detail</a>
      </td>
    </tr>
    <tr>
      <td>arifabas</td>
      <td>Arif</td>
      <td>Firmansyah</td>
      <td>arifabas@gmail.com</td>
      <td>1988/11/13</td>
      <td>Rp.1.000.000</td>
      <td>Permanent staff</td>
      <td>IT department</td>
      <td>Software engineer (frontend)</td>
      <td>
        <a routerLink="/mandiri/detail/:id" class="btn btn-see-detail">See detail</a>
      </td>
    </tr>
  </tbody>
</table>