<h3>Detail Employee</h3>
<table class="table table-employee table-striped">
  <tbody>
    <tr>
      <th scope="row">Username</th>
      <td>arifabas</td>
    </tr>
    <tr>
      <th scope="row">First name</th>
      <td>Arif</td>
    </tr>
    <tr>
      <th scope="row">Last name</th>
      <td>Firmansyah</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>arifabas@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Birthdate</th>
      <td>1988/11/13</td>
    </tr>
    <tr>
      <th scope="row">Basic salary</th>
      <td>Rp.1.000.000</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>Permanent staff</td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td>IT department</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>Software engineer (frontend)</td>
    </tr>
  </tbody>
</table>